html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-color);
}

/* --------text hidden---------- */

.section--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*-----------uttilites----------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
  // color: var(--main-text-color);
}

.header {
  padding-bottom: 20px;
  // border-bottom: 1px solid var(--border-bottom-header);
}

/*-------other style-----------*/

.container {
  max-width: 1200px;

}

.page-header {
  text-align: center;
}

.auth-nav {
  display: inline-block;
}


.hero {

  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(196,179, 235, 0.6)), url('../image/lendBackground.jpg');

  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.app-btn {
  padding: 14px;
  border-radius: 5px;
  width: 100px;
  height: 10px;

  position: relative;
  z-index: 1;
  text-align: center;

  color: rgb(255, 255, 255);
  border: 3px solid rgb(158, 24, 140);
  background-color: rgb(211, 47, 214);
  transition: none 0s ease 0s;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title_hero {
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  color: #8060b8;
  text-shadow: 2px 2px #ffffff,
    5px 5px 5px #ffffff;
  text-transform: uppercase;

}

.img_hero {
  margin-bottom: 10px;
}

.title_description {
  margin-bottom: 25px;
  font-family: 'Roboto', Arial, Sans-serif;
  font-weight: 600;
  line-height: 1.35;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}

.text_hero {
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0px;
  border-radius: 2px;
  opacity: 0.75;
  background-color: #b370bf;
  background-position: center center;
  border-color: transparent;

}

.form {

  text-align: center;


}

.form_field {

  margin-bottom: 20px;
}

.form_label {
  display: block;
}

.form_input {
  padding-left: 20px;
  padding-right: 20px;
  color: #957cc2;
  border: 1px solid #957cc2;
  background-color: #e6e3e3;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 50px;

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}