html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-color);
}

/* --------text hidden---------- */

.section--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*-----------uttilites----------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

/* .header {
  border-bottom: 1px solid var(--border-bottom-header);
} */

/*-------other style-----------*/

.container{
  /* max-width: 1200px; */
  /* max-width: 768px;
  max-width: 480px; */
}

.page-header {
  text-align: center;
  /* display: flex; */
  /* position: fixed; */
  
}

.auth-nav{
  /* display: flex; */
 
  /* align-items: center;
  margin-left: auto; */



}
.auth-nav__item{
    margin-right: 15px;
/* outline: 1px solid tomato; */

}

.auth-nav__link{
  padding-top: 20px;
  padding-bottom: 20px;
  /* outline: 1px solid green; */
}

.app-btn{
  padding: 14px;
  border-radius: 5px;
  width: 100px;
  height:10px;
  /* border: 1px solrgb(143, 60, 60); */
  position: relative;
  z-index: 1;
  text-align: center;

  color: rgb(255, 255, 255);
  border: 3px solid rgb(158, 24, 140);
  background-color: rgb(211, 47, 214);
  transition: none 0s ease 0s;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.title{
  text-align: center;
  font-size: 24px;

}

.text{
  text-align: center;
}

.container{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

