.app-btn {
  padding: 14px;
  border-radius: 5px;
  width: 100px;
  height: 10px;

  position: relative;
  z-index: 1;
  text-align: center;

  color: rgb(255, 255, 255);
  border: 3px solid rgb(158, 24, 140);
  background-color: rgb(211, 47, 214);
  transition: none 0s ease 0s;
}

.benefits__img {
  display: inline-block;
  width: 120px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}