.title_description {
  margin-bottom: 25px;
  font-family: 'Roboto', Arial, Sans-serif;
  font-weight: 600;
  line-height: 1.35;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}



.description {
  background-image: url("../image/bg-10stap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description_img {
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
}