.form {
  text-align: center;
}

.form_field {
  margin-bottom: 20px;
}

.form_label {
  display: block;
}

.form_input {
  padding-left: 20px;
  padding-right: 20px;
  color: #957cc2;
  border: 1px solid #957cc2;
  background-color: #e6e3e3;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 50px;

}