.page-header {
  // text-align: center;
  display: flex;
  // margin-top: 15px;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.70);
  height: 80px;
}

// .auth-nav {
//   display: inline-block;
// }

.auth-nav.list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}