.page-header {
  text-align: center;
  display: flex;
 
  // margin-left: 30px;
  // margin-right: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.70);
  // height: 80px;
}

// .logo{
//   margin-left: 30px;
// }

.page-header .container{
  display: flex;
}

.auth-nav.list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  color: #000000;
}

.hero {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(196, 179, 235, 0.6)), url('../image/lendBackground.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.hero__section{
  padding-top: 150px;
margin-left: 100px;
width: 450px;
text-align: center;
// margin-right: 100px;
}

.hero__title {
  margin-bottom: 30px;
  // width: 450px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  color: #8060b8;
  text-shadow: 2px 2px #ffffff, 5px 5px 5px #ffffff;
  text-transform: uppercase;
}

.hero__text {
  padding: 10px;
  // width: 450px;
  text-align: center;
  color: #ffffff;
  font-size: 19px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 2px;
  opacity: 0.75;
  background-color: #b370bf;
  background-position: center center;
  border-color: transparent;
}

.btn{
  margin-top: 30px;
  // margin-left: auto;
  // margin-right: auto;
  display: inline-block;
  // align-items: center;
  width: 160px;
  color: #ffffff;
  background-color: #957cc2;
  // border: 1px solid tomato;
  border-radius: 5px;
 }

.btn__text{
  padding:15px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
