.page-header {
  // text-align: center;
  display: flex;
  // margin-left: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.70);
  // height: 80px;
}
.logo{
  margin-left: 30px;
}

.auth-nav.list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  color: #000000;
}

.hero {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(196, 179, 235, 0.6)), url('../image/lendBackground.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.hero__title {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  color: #8060b8;
  text-shadow: 2px 2px #ffffff, 5px 5px 5px #ffffff;
  text-transform: uppercase;
}

.hero__text {
  margin: 0 73px 15px 73px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 0px;
  border-radius: 2px;
  opacity: 0.75;
  background-color: #b370bf;
  background-position: center center;
  border-color: transparent;
}