/*-------other style-----------*/

// .container {

//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

.app-btn {
  padding: 14px;
  border-radius: 5px;
  width: 100px;
  height: 10px;

  position: relative;
  z-index: 1;
  text-align: center;

  color: rgb(255, 255, 255);
  border: 3px solid rgb(158, 24, 140);
  background-color: rgb(211, 47, 214);
  transition: none 0s ease 0s;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title_description {
  margin-bottom: 25px;
  font-family: 'Roboto', Arial, Sans-serif;
  font-weight: 600;
  line-height: 1.35;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}

.form {
  text-align: center;
}

.form_field {
  margin-bottom: 20px;
}

.form_label {
  display: block;
}

.form_input {
  padding-left: 20px;
  padding-right: 20px;
  color: #957cc2;
  border: 1px solid #957cc2;
  background-color: #e6e3e3;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 50px;

}

.description {
  background-image: url("../image/bg-10stap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description__item {
  display: flex;
}



.description_img {
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.bg {
  background-color: #d8cbf7;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.team {
  text-align: center;
  background-image: url("../image/bg-team-photo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.team__img {
  display: inline-block;
  width: 160px;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.benefits__img {
  display: inline-block;
  width: 120px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.footer {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #fde8ff;
}