:root {
  --main-color: #ffffff;
  --main-text-color: #2c2c2c;
  --container-bg-color: #b370bf;
  --btn-bg-color: #957cc2;
  --accent-color: #ff6347;
  --secondary-background-color: #f5f4fa;
  // --accent-color: #2196f3;
  --main-title-color: #8060b8;
  // --logo-color: #000000;
  --button-bg-color: #188ce8;
  --border-bottom-header: #ececec;
  --border-item-card-set: #eeeeee;
  --hero-background-color: #c4c4c4;
  --icon-fill-color: #afb1b8;
}